/*Homepage*/

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;

}


.content {
    text-align: center;
    color: rgb(240, 243, 241);
    position: relative;
    z-index: 1;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin-top: 80px; /* Adjust the margin to account for the fixed header */
    flex: 1; /* Expand and fill the available space */
    
}
.content h2 {
    font-style: italic;
    font-size: 80px;
    margin-top: 10%;
}

.content h1 {
    font-size: 80px;
    
    margin-top: 0.5%;
}

.content h4 {
    font-size: 35px;
}

.background-slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: image 2s infinite alternate;
    animation: slideBackground 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: slideBackground 15s linear infinite; 
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

@keyframes slideBackground {
    0%, 100% {
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('images/cateringhome.jpg');
    }
    25% {
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('images/wedding.jpg');
    }
    50% {
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('images/cateringhome3.jpg');
    }
    75% {
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('images/birthday1.jpg'); 
    }
}